<h1 style="padding-top: 10px; padding-bottom: 10px;">All Upcoming Events</h1>

    <div class="row">

      <% @events.each do |event| %>

        <div class="col-sm" style="padding-bottom: 10px;">
          <div class="card" style="width: 18rem;">
            <div class="card-body">

              <h5 class="card-title"><%= event.name %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= event.start_date %> at <%= event.start_time %></h6>
              <h6 class="card-subtitle mb-2 text-muted"><%= event.end_date %> at <%= event.end_time %></h6>
              <p class="card-text"><%= event.description.truncate(25, separator: /\s/) %></p>
              <a href="/events/<%= event.id %>" class="card-link">See more</a>

            </div>
          </div>
        </div>

      <% end %>

    </div>
