<h1><%= @event.name %></h1>

<br />

<h3>Start date: <%= @event.start_date %> at <%= @event.start_time %></h3>
<h3>End date: <%= @event.end_date %> at <%= @event.end_time %></h3>

<br />

<hr />

<br />

<p><%= @event.description %></p>

<br />

<p><a href="/events">Return to All Events</a></p>
